<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img ngSrc="assets/img/logo-white.png" class="logo-footer" width="243" height="144" />
        <ul class="social">
          <li class="wow bounceIn">
            <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="wow bounceIn" data-wow-delay="0.1s">
            <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="wow bounceIn" data-wow-delay="0.2s">
            <a href="" target="_blank"><i class="fa fa-dribbble"></i></a>
          </li>
          <li class="wow bounceIn" data-wow-delay="0.3s">
            <a href="" target="_blank"><i class="fa fa-behance"></i></a>
          </li>
          <li class="wow bounceIn" data-wow-delay="0.4s">
            <a href="" target="_blank"><i class="fa fa-pinterest"></i></a>
          </li>
          <li class="wow bounceIn" data-wow-delay="0.5s">
            <a href="" target="_blank"><i class="fa fa-google"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="nav navbar-nav center-nav">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/imprint">Imprint</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="nav navbar-nav center-nav copyright-text">
          <li>
            Copyright {{ year }} - {{ build }} - All rights reserved.
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
