<section id="about" class="no-padding">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 d-flex align-items-center section-text">
        <div class="title title-left">
          <h2>Expertise Beyond Boundaries</h2>
          <h6>Let's transform your data into a masterpiece together!</h6>
          <div class="divider divider-sm"></div>
        </div>
        <p>
          Welcome to Dr. Franke Datenwissenschaften OÜ, where data meets
          excellence! We are a Full Stack Data Science Consultancy dedicated to
          delivering unparalleled quality at every step of your data journey.
          Just like a gourmet meal, true quality isn’t something you add—it’s
          something you maintain from start to finish.
        </p>
        <div class="logo-container">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
            alt="Angular Logo"
            class="logo"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg"
            alt="Python Logo"
            class="logo"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Apache_Spark_logo.svg"
            alt="Apache Spark Logo"
            class="logo"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Databricks_Logo.png/120px-Databricks_Logo.png?20230109143554"
            alt="Databricks Logo"
            class="logo"
          />
        </div>
        <p>
          Our team of seasoned experts specializes in Angular, Python, and the
          Apache Spark ecosystem with Databricks, ensuring that your data
          solutions are not only powerful but also meticulously crafted. Whether
          it’s building dynamic web applications, developing robust data models,
          or optimizing your data pipelines, we infuse quality into every line
          of code and every analysis we perform.
        </p>
        <a
          class="btn btn-primary"
          pageScroll
          [pageScrollDuration]="500"
          [pageScrollEasing]="easeInOutQuad"
          href="#portfolio-section"
          >See portfolio</a
        >
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 d-flex align-items-center section-image">
        <div class="image-container square">
          <img
            ngSrc="/assets/img/cooking.webp"
            alt="Cooking and Data Science"
            height="1024"
            width="1792"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <div class="video-wrapper">
      <div class="centred-container">
        <!--
        <h3>See our video</h3>
        <a href="https://www.youtube.com/watch?v=-EiFyiogGmY" id="popup-youtube"><i class="fa fa-play-circle"></i></a>
        -->
      </div>
    </div>
  </div>
</section>
