.logo-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.logo {
  margin: 10px;
  max-height: 50px;
}

.image-container {
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.square {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}

.square img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-image {
  padding: 155px 0;
}
