<section id="newsletter">
  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!--
          <h4>Subscribe to our newsletter</h4>
                    <div class="row">
                      <form method="post" action="subscribe.php" role="form" class="form-inline">
                        <div class="col-md-9">
                          <input type="email" required="" placeholder="Enter your e-mail address..." class="subscribe-input"
                                 name="email">
                        </div>
                        <div class="col-md-3">
                          <button type="submit" class="btn btn-cta">Subscribe</button>
                        </div>
                      </form>
                    </div>
                 -->
        </div>
      </div>
    </div>
  </div>
</section>
