<app-section id="home-section">
  <header class="overlay">
    <app-navbar></app-navbar>
    <app-title
      title="Imprint / Privacy Statement"
      subtitle="Guardians of Your Privacy"
      [showButton]="false"
    ></app-title>
  </header>
</app-section>

<section id="about" class="no-padding">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 d-flex align-items-center section-text">
        <h1>Dr. Franke Datenwissenschaften OÜ</h1>
        <p>
          Sepapaja tn 6<br />
          15551 Tallinn<br />
          Estonia
        </p>

        <p>
          Commercial Register Number: 16803592<br />
          VAT Identification Number: EE102649275
        </p>

        <p>
          Managing Director: Dr. Martin Franke<br />
          Email:
          <a href="mailto:martin.franke@datenwissenschaften.com"
            >martin.franke&#64;datenwissenschaften.com</a
          ><br />
          Phone: +357-24 030320
        </p>

        <p>Responsible for Content: Dr. Franke Datenwissenschaften OÜ</p>

        <p>
          Dr. Franke Datenwissenschaften OÜ is a registered company in Estonia,
          and this imprint serves as the legally required disclosure of
          information following European regulations. Don't hesitate to contact
          us with any inquiries or concerns using the provided contact
          information.
        </p>

        <p>
          The content, design, and images on this website are the intellectual
          property of Dr. Franke Datenwissenschaften OÜ and are protected by
          copyright laws. Any unauthorized use, reproduction, or distribution of
          the materials on this site is strictly prohibited.
        </p>

        <p>
          All trademarks, service marks, and trade names used on this website
          are the property of Dr. Franke Datenwissenschaften OÜ unless otherwise
          specified. Use of these marks without the written permission of Dr.
          Franke Datenwissenschaften OÜ may constitute a violation of
          intellectual property laws.
        </p>

        <p>
          Permission is granted to electronically copy and print hard copies of
          pages from this website solely for personal, non-commercial purposes.
          Any other use of the materials on this website without the prior
          written permission of Dr. Franke Datenwissenschaften OÜ is strictly
          prohibited.
        </p>

        <p>
          If you have any questions about the use of content on this website,
          please contact us at the mentioned email address.
        </p>

        <p>Thank you for respecting our intellectual property rights.</p>

        <h2>GDPR Compliance Statement</h2>
        <p>
          At Dr. Franke Datenwissenschaften OÜ, we are committed to safeguarding
          the privacy and security of personal data following the General Data
          Protection Regulation (GDPR) and other applicable data protection
          laws. This GDPR Compliance Statement outlines our practices and
          policies regarding collecting, using, and protecting personal data.
        </p>

        <h3>1. Data Collection and Processing:</h3>
        <p>
          We collect and process personal data only for specified and lawful
          purposes. Any data collected is limited to what is necessary for the
          intended purpose, and individuals are informed about the processing of
          their data.
        </p>

        <h3>2. Lawful Basis for Processing:</h3>
        <p>
          We ensure that there is a lawful basis for processing personal data.
          This may include the necessity of processing for the performance of a
          contract, compliance with a legal obligation, protection of vital
          interests, consent, the performance of a task carried out in the
          public interest or the exercise of official authority, and legitimate
          interests pursued by the data controller or a third party.
        </p>

        <h3>3. Data Minimization:</h3>
        <p>
          We adhere to the data minimization principle by limiting personal data
          collection to what is adequate, relevant, and necessary for the
          intended purposes. We do not retain data longer than is necessary.
        </p>

        <h3>4. Data Accuracy:</h3>
        <p>
          We strive to maintain accurate and up-to-date personal data.
          Individuals have the right to rectify inaccurate or incomplete data
          concerning them.
        </p>

        <h3>5. Data Security:</h3>
        <p>
          We implement appropriate technical and organizational measures to
          ensure the security of personal data. This includes protection against
          unauthorized or unlawful processing and accidental loss, destruction,
          or damage.
        </p>

        <h3>6. Individual Rights:</h3>
        <p>
          We respect the rights of individuals under the GDPR, including the
          right to access, rectify, erase, restrict processing, object to
          processing, and data portability. We provide mechanisms for
          individuals to exercise their rights.
        </p>

        <h3>7. Lawful Data Transfers:</h3>
        <p>
          When transferring personal data to third countries or international
          organizations, we ensure adequate safeguards are in place to protect
          the data, as the GDPR requires.
        </p>

        <h3>8. Data Protection Officer:</h3>
        <p>
          For any inquiries related to data protection or to exercise your
          rights under the GDPR, don't hesitate to contact our Data Protection
          Officer at
          <a href="mailto:martin.franke@datenwissenschaften.com"
            >martin.franke&#64;datenwissenschaften.com</a
          >.
        </p>

        <h3>9. Cookies and Tracking Technologies:</h3>

        <p id="cookies"></p>

        <h3>10. Updates to the GDPR Compliance Statement:</h3>

        <p>
          This GDPR Compliance Statement may be updated periodically to reflect
          changes in our privacy practices or applicable regulations. Updates
          will be posted on our website.
        </p>

        <p>
          Thank you for entrusting Dr. Franke Datenwissenschaften OÜ with your
          data. We are dedicated to maintaining the highest standards of data
          protection and privacy.
        </p>

        <p>11/12/23</p>

        <p>
          &copy; 2024 Dr. Franke Datenwissenschaften OÜ. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</section>
