<app-section id="home-section">
  <header class="overlay">
    <app-navbar></app-navbar>
    <app-title
      [showButton]="true"
      title="Transforming Data into Decisions, Your Success in Every Byte"
      subtitle="Dr. Franke Datenwissenschaften OÜ"
    ></app-title>
  </header>
</app-section>
<app-section id="call-to-action-section">
  <app-call-to-action></app-call-to-action>
</app-section>
<app-section id="about-section">
  <app-about></app-about>
</app-section>
<app-section id="portfolio-section">
  <app-portfolio></app-portfolio>
</app-section>
<app-section id="newsletter-section">
  <app-newsletter></app-newsletter>
</app-section>
<app-section id="contact-section">
  <app-contact></app-contact>
</app-section>
<app-footer></app-footer>
